h1 {
  color: rgb(161, 0, 255);
}
.heading {
  text-align: center;
  width: 100%;
}

.links {
  font-size: 25px;
  margin: 0px;
  padding: 0px;
  color: rgb(251, 249, 252);
  background-color: rgb(10, 10, 10);
  width: 30%;
  line-height: 1em;
  float:left;
  height:800px;
  text-decoration:none;
}
a{
  text-decoration:none;
}

a:visited{
  color: white;
}
a:hover{
  color: rgb(150, 21, 242);
}
a:link{
  color: white;
}
.photo{
  width:70%;
  float:right;
}
.wide{
  width:100%;
}
h2{
  font-size: 20px;
}
.track_fees{
  h1{
  text-align:center;
}
.underline{
  color:red;
}

background: #004A87;
background-image: url(https://jcarter2590.github.io/peak_performance/images/medium_sized.jpg);
background-repeat: no-repeat;
background-size: cover;
  &:not(h1){
    color: white;
text-shadow: .5px .5px 5px black;
  }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
  width: 75%;
}
}
.faqs{
  h1,h2,h3,h4{
  text-align:center;
}
h1{
  color: rgb(120, 12, 178);
}
h2,h3,h4{
  color: rgb(131, 11, 196);
}
h4{
  font-size: 23px;
}
p{
  font-size: 19px;
}
}
.meet_info{
  h1{
  text-align:center;
}
h2,h3,h4{
  font-size:20px;
}
h5{
  font-size:35px;
}
  text-align:center;
  font-size:17px;
  font-weight:bold;
  background-image: url("http://ak.c.ooyala.com/d5bGNuYzplfUXFqTDAlrrRPBHvFHK6L-/Ut_HKthATH4eww8X4xMDoxOjA4MTsiGN");
background-repeat:no-repeat;
background-size:100% 100%;
p{
color: rgb(163, 163, 163);
}
}
.club_info{
  h1 {
  text-align: center;
}
#first-paragraph{
  text-align:center;
  color: rgb(174, 0, 255);
  font-size: 25px;

}
}
.coach{
  .bg-image{
height:600px;
width:100%;
  
}
}
.registration{
h1{
  text-align:center;
}
}
